@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html {
  height: 100%;
}

body {
  width: 1600px;
  margin: 0 auto;
  padding: 0;
  background: #E5E5E5;
  font-family: Lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #fff;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

ul {
  list-style: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container-desktop {
  width: 1600px;
  padding: 0 231px;
}

.title-hidden {
  visibility: hidden;
  position: absolute;
}

input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.header--desktop-size {
  height: 75px;
}

.header--collor {
  background: #222222;
}

.header__icons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__icons-block--size-for-two {
  height: 38px;
  width: 111px;
}

.header__icons-block--size-for-three {
  height: 37px;
  width: 168px;
}

.header__icons-block > a:hover .header-item {
  fill: #635c5c;
}

.header__icons-block > a:focus {
  outline: none;
}

.header__icons-block > a:focus .header-item {
  fill: #635c5c;
}

.header .cart {
  position: relative;
}

.header .cart__items {
  display: none;
  position: absolute;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  top: -7px;
  right: -8px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.header .cart__items--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.brand {
  width: 1600px;
  height: 764px;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__description {
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand__description--size {
  width: 405px;
  padding-left: 16px;
  margin-left: 63px;
}

.brand__description--red {
  color: #F16D7F;
}

.brand__description--bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

main {
  position: relative;
}

.nav {
  display: none;
  position: absolute;
  z-index: 1;
}

.nav--position {
  top: 75px;
  right: 0;
}

.nav--desktop {
  height: 764px;
  width: 232px;
  background-color: #fff;
  -webkit-box-shadow: -12px 12px 85px rgba(0, 0, 0, 0.5);
          box-shadow: -12px 12px 85px rgba(0, 0, 0, 0.5);
  padding: 16px 17px 16px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.nav--show {
  display: block;
}

.nav a:hover {
  color: #222222;
}

.nav a:focus {
  outline: none;
  color: #222222;
}

.nav__close {
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url("../../img/cross.png");
  background-size: auto;
  border: none;
  float: right;
}

.nav__close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__close:focus {
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__title {
  margin: 21px 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.nav__list {
  margin-top: 24px;
}

.nav__item {
  margin: 0 0 20px 0;
}

.nav__item-title {
  text-transform: uppercase;
  color: #F16D7F;
}

.nav__sublist {
  padding-left: 22px;
}

.nav__subitem {
  margin: 11px 0 0 0;
}

.nav__subitem-title {
  color: #6F6E6E;
}

.nav__subitem:first-child {
  margin: 12px 0 0 0;
}

.discounts {
  width: 1600px;
  padding-top: 64px;
  padding-bottom: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.discounts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 470px;
  width: 1140px;
}

.discounts__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

.discounts__item:hover .discounts__blackout {
  display: none;
}

.discounts__item:focus-within .discounts__blackout {
  display: none;
  outline: none;
}

.discounts__blackout {
  position: absolute;
  height: 260px;
  width: 360px;
  top: 0;
  left: 0;
  background: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discounts__blackout-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.discounts__blackout-type {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #F16D7F;
}

.discounts__blackout-accesories {
  height: 180px;
  width: 1140px;
}

.featured-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.featured-items--size {
  padding-top: 0;
  padding-bottom: 95px;
}

.featured-items-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  margin-bottom: 6px;
}

.featured-items-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.featured-items__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  margin-bottom: 31.5px;
}

.featured-items__item {
  height: 581px;
  width: 360px;
  background-color: #F8F8F8;
  position: relative;
  margin: 0 0 30px 0;
}

.featured-items__item:hover .featured-items__blackout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-items__info {
  padding: 25px 18px 20px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.featured-items__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #000000;
  text-align: left;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

.featured-items__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.featured-items__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
}

.featured-items__blackout {
  position: absolute;
  top: 0;
  left: 0;
  height: 420px;
  width: 360px;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-items__buy-link {
  height: 43px;
  width: 138px;
  border: 1px solid #FFFFFF;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  padding-left: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../../img/background_cart.png") no-repeat 10px 10px;
}

.featured-items__buy-link:hover {
  background-color: gray;
}

.featured-items__buy-link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: gray;
}

.featured-items__all-button {
  height: 47px;
  width: 211px;
  border: 1px solid #FF6A6A;
  color: #FF6A6A;
  background-color: #fff;
}

.featured-items__all-button:hover {
  background-color: #FF6A6A;
  color: #fff;
}

.featured-items__all-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.featured-items__all-button:focus {
  background-color: #F16D7F;
  color: #fff;
  outline: none;
}

.benefits {
  background-color: #222222;
  height: 341px;
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FBFBFB;
}

.benefits__item--size {
  height: 134px;
  width: 360px;
  padding: 0 20px;
}

.benefits__title {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
}

.benefits__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.subsctiption {
  height: 448px;
  width: 1600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url("../../img/form_bg.jpg"), rgba(244, 244, 244, 0.7);
  background-blend-mode: overlay;
}

.subsctiption__review {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subsctiption__img {
  height: 96px;
  width: 96px;
}

.subsctiption__blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.subsctiption__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 62px;
}

.subsctiption__text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.subsctiption__text--bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

.subsctiption__form {
  height: 49px;
  width: 456px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subsctiption__input {
  height: 49px;
  width: 256px;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  border: none;
  padding: 0 22px;
  line-height: 52px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subsctiption__input:hover {
  outline: 1px solid #222222;
  height: 44px;
}

.subsctiption__input:focus {
  outline: 1px solid #F16D7F;
  height: 44px;
}

.subsctiption__button {
  height: 49px;
  width: 100px;
  border-radius: 0 25px 25px 0;
  background-color: #F16D7F;
  color: #fff;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subsctiption__button:hover {
  background-color: #ea586b;
}

.subsctiption__button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.subsctiption__button:focus {
  outline: none;
  color: #222222;
}

.footer {
  height: 79px;
  width: 1600px;
  padding: 0 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 147px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.footer__item:hover {
  background-color: #F16D7F;
}

.footer__item:hover .socials {
  fill: #fff;
}

.footer__item:focus {
  background-color: #fff;
  outline: none;
}

.footer__item:focus .socials {
  fill: #F16D7F;
}
/*# sourceMappingURL=main.css.map */