.brand {
    max-width: 1600px;
    max-height: 765px;
    background-color: $rose-bg;
    display: flex;
    align-items: center;

    @include mobile {
        height: 363px;
        justify-content: center;
    }

    &__description {
        text-transform: uppercase;
        border-left: 12px solid $light-red;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        box-sizing: border-box;

        &--size {
            max-width: 50%;
            padding-left: 16px;
            margin-left: 63px;
        }

        &--red {
            color: $light-red;
        }

        &--bold {
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
        }

        @include mobile {
            margin: 0;
        }
    }

    &__img {
        max-width: 50%;

        @include mobile {
            display: none;
        }
    }
}