.cart {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;

    @include desctop {
        flex-wrap: wrap;
    }

    // flex-wrap: wrap;

    &__item {
        position: relative;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        max-width: 100%;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;

        @include tablet {
            flex-direction: column;
        }

        &-title {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            text-transform: uppercase;
            margin-bottom: 42px;
            max-width: 90%;

            @include mobile {
                font-size: 16px;
                line-height: 19px;
            }
        }

        &-detailes {
            font-style: normal;
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            color: #575757;

            @include mobile {
                font-size: 14px;
                line-height: 16px;
            }

            &>p {
                margin-bottom: 6px;

                &>span {
                    color: #F16D7F;
                }
            }

        }

        &-quantity {
            display: flex;

            &-number {
                height: 25px;
                width: 44px;
                outline: 1px solid #EAEAEA;
                border: none;
                margin-left: 24px;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                display: flex;
                justify-content: center;
                text-align: center;
                color: #575757;

                &:hover {
                    outline: 1px solid #8b8888;
                }

                &:focus {
                    outline: 1px solid #b3d7ff;
                }

            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        margin-right: 30px;

        @include desctop {
            width: 100%;
        }

        @include tablet {
            width: 100%;
        }

        &-buttons {
            display: flex;
            justify-content: space-between;

            @include tablet {
                flex-direction: column;
            }

            &>button {
                padding: 16px 40px;
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
            }
        }
    }

    &__description {
        padding: 31px 22px;
        width: 100%;
    }

    &__button {
        padding: 16px 40px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-transform: uppercase;
        background-color: #fff;
        outline: 1px solid #A4A4A4;
        border: none;

        &:hover {
            outline-color: #b3d7ff;
            box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
        }

        &:active {
            outline-color: #b3d7ff;
            box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.1);
        }

        &:focus {
            outline-color: #b3d7ff;
        }
    }

    &__order-details {
        width: 50%;

        @include desctop {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        @include tablet {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 57.5px;

        @include desctop {
            width: 45%;
            margin-right: 5%;
        }

        @include tablet {
            width: 100%;
            margin-top: 56px;
        }

        &-title {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            text-transform: uppercase;
            margin: 17px 0 20px 0;
        }

        &-item {
            height: 45px;
            width: 100%;
            padding: 0 17px;
            outline: 1px solid #EAEAEA;
            border: none;
            margin-bottom: 20px;
            box-sizing: border-box;

            &::placeholder {
                color: #B1B1B1;
            }

            &:hover {
                outline: 1px solid #8b8888;
            }

            &:focus {
                outline: 1px solid #b3d7ff;
            }
        }

        &-button {
            min-width: 100px;
            max-width: 30%;
            height: 34px;
            font-size: 11px;
            font-weight: 300;
            padding: 0;
        }
    }

    &__finalize-order {
        height: 214px;
        width: 100%;
        background: #F5F3F3;
        padding: 39px 43px 42px 44px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        @include desctop {
            width: 45%;
        }

        @include tablet {
            width: 100%;
            margin-bottom: 97px;
        }
    }

    &__price {
        width: 100%;
        padding-bottom: 21px;
        margin-bottom: 17px;
        border-bottom: 1px solid #E2E2E2;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        font-style: normal;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        text-transform: uppercase;
    }

    &__sub-total {
        width: 108px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__grand-total {
        width: 170px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;

        &-red {
            color: #F16D7F;
            font-weight: 700;
        }
    }

    &__button-order {
        outline: 1px solid #F16D7F;
        background-color: #F16D7F;
        color: #fff;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        max-height: 100%;
        max-width: 100%;
    }
}