@import "_variables.scss";

.featured-items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    &--size {
        padding-top: 0;
        padding-bottom: 95px;
    }

    &__name {
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        margin-bottom: 6px;
    }

    &-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        color: #9F9F9F;
        margin-bottom: 48px;

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1140px;
        margin-bottom: 31.5px;
    }

    &__all-button {
        height: 47px;
        width: 211px;
        border: 1px solid #FF6A6A;
        color: #FF6A6A;
        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #FF6A6A;
            color: #fff;
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus {
            background-color: $light-red;
            color: #fff;
            outline: none;
        }

    }
}