.page-title {
    height: 148px;
    max-width: 1600px;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #636363;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    @include tablet {
        justify-content: center;
        flex-direction: column;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }

    &>h2 {
        color: #F16D7F;

        @include tablet {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 32px;
        }
    }

    &__links {
        display: flex;
    }

    &__link {
        color: #636363;
        margin-right: 10px;
        margin-left: 10px;
    
        &--active {
            color: #F16D7F;
            font-weight: 700;
        }

        &:hover {
            color: #F16D7F;
        }
    }
}