.registration-title {
    height: 148px;
    width: 1600px;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    box-sizing: border-box;
}