@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$dark-bg: #222222;
$rose-bg: #F1E4E6;
$light-red: #F16D7F;

body {
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style: none;
}

ul,p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    &_desktop-size {
        height: 75px;
        width: 1600px;
        padding: 0 231px;
    }

    &_collor {
        background: $dark-bg;
    }

    &__icons-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &_size-for-two {
            height: 38px;
            width: 111px;
        }

        &_size-for-three {
            height: 37px;
            width: 168px;
        }
    }

    &__logo:hover {
        transform: scale(1.1);
    }
}

a svg:hover #search,
a svg:hover #menu,
a svg:hover #user,
a svg:hover #cart {
    fill: #918a8a
}

.nav {
    display: none;
}

.brand {
    width: 1600px;
    height: 764px;
    background-color: $rose-bg;
    display: flex;
    align-items: center;

    &__description {
        text-transform: uppercase;
        border-left: 12px solid $light-red;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        box-sizing: border-box;

        &_size {
            width: 405px;
            padding-left: 16px;
        }

        &_red {
            color: $light-red;
        }

        &_bold {
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
        }
    }
}

.discounts {
    width: 1600px;
    padding: 64px 230px;
    box-sizing: border-box;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        height: 470px;
        width: 1140px;
    }

    &__item {
        position: relative;
        box-sizing: border-box;

        &__blackout {
            display: none;
            position: absolute;
            height: 260px;
            width: 360px;
            top: 0;
            left: 0;
            background: rgba(33, 22, 22, 0.7);
            font-family: Lato;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &_info {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: center;
                color: #fff;
            }

            &_type {
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: center;
                color: $light-red;
            }

            &_accesories {
                height: 180px;
                width: 1140px;

            }
        }

        &:hover &__blackout {
            display: none;
        }
    }
}

.featured_items {
    width: 1600px;
    box-sizing: border-box;
    margin-bottom: 95.5px;
    display: flex;
    flex-direction: column;

    &>h2 {
        font-family: Lato;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 6px;
    }

    &>p {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #9F9F9F;
        margin-bottom: 48px;

    }

    &>ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1140px;
        margin-bottom: 48.5px;

        &>li {
            height: 581px;
            width: 360px;
            background-color: #F8F8F8;
            position: relative;
            margin: 0;

            & .description {
                padding: 25px 18px 20px 18px;
                box-sizing: border-box;
            }

            & h3 {
                font-family: Lato;
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                color: #000000;
                text-align: left;
                margin-bottom: 12.65px;

            }

            & p {
                font-family: Lato;
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #5D5D5D;
                margin-bottom: 18px;

                &+.price {
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $light-red;
                }
            }

            &:first-child {
                margin-bottom: 30px;
            }

            &>.background_product {
                position: absolute;
                top: 0;
                left: 0;
                height: 420px;
                width: 360px;
                background: rgba(58, 56, 56, 0.86);
                display: none;
                justify-content: center;
                align-items: center;

                &>.background_add_to_cart {
                    height: 43px;
                    width: 138px;
                    border: 1px solid #FFFFFF;
                    color: #fff;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 43px;
                    letter-spacing: 0em;
                    padding-left: 48px;
                    box-sizing: border-box;
                    background: url("../../img/background_cart.png") no-repeat 10px 10px;

                }
            }

            &:hover .background_product {
                display: flex;
            }
        }
    }

    &>button {
        height: 47px;
        width: 211px;
        border: 1px solid #FF6A6A;
        color: #FF6A6A;
        background-color: #fff;

        &:hover {
            background-color: $light-red;
            color: #fff;
        }
    }
}